	function autoLocator_{$v.caption}() {

		var loc = "{if isset($v.extensions)}{$v.extensions}{/if}";
		var location_fields = loc.split(",");

		var address = '';
		var address_html = '';

		for(i=0; i<location_fields.length; i++) {
			var f = location_fields[i];
			if(!f) continue;
			if ($('#'+f).length == 0) continue;

			var t = document.getElementById(f).type;
			if(t=="text" || t=="textarea")
				var l = document.getElementById(f).value;
			else {
				var selected_index = document.getElementById(f).selectedIndex;
				var l = document.getElementById(f).options[selected_index].value;	
			}
			if(!l) continue;
			if(address!='') { 
				address = address + ', ';
				address_html = address_html + '<br/>';
			}
			address = address + l;
			address_html = address_html + "<b>" + l + "</b>";
		}
		
		if(!address) return;
		
		 $.getJSON('https://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + address, function(data) {
			
			var lat = data[0].lat;
			var lng = data[0].lon;
			var location = new L.LatLng(lat, lng);
			map_{$v.caption}.panTo(location);
			
			if (osm_marker instanceof L.Marker) map_{$v.caption}.removeLayer(osm_marker); 
			osm_marker = L.marker([lat, lng]).addTo(map_{$v.caption});

			if(address_html) {
				osm_marker.bindPopup(address_html).openPopup();
			}
			
			var h = map_{$v.caption}.getZoom();
			if(IsNumeric(lat) && IsNumeric(lng) && IsNumeric(h)) document.getElementById("{$v.caption}").value=lat+","+lng+","+h;
			
			
		 });

	}

