
{literal}
<script>
	$(document).ready(function() {
		$("input").keypress(function(e)
		{
        		// if the key pressed is the enter key
        		if (e.which == 13)
        		{

				// delay action so the autocomplete list to fill
				setTimeout(function() { $("#search").submit();}, 200);

				return false;
        		}
		});
		$("#remove_search").hide();
		$("#search_box").hide();
		$("#add_search").click(function()
		{
			$("#remove_search").show();
			$("#add_search").hide();
			$("#search_box").slideDown('fast').show();
			
		});

		$("#remove_search").click(function()
		{
			$("#add_search").show();
			$("#remove_search").hide();
			$("#search_box").slideUp('fast');
		});

		$('.tooltip').powerTip({
			placement: 'n'
		});

		$('a.freply').magnificPopup({
			type: 'ajax',
			showCloseBtn: true,
			closeBtnInside:true
		});

		$('a.view').magnificPopup({
			type: 'ajax',
			showCloseBtn: true,
			closeBtnInside:true
		});

	$("a.mark_read").click(function(event){

	var id = jQuery(this).attr("id").substr(5);

	$.ajax({
		type		: "GET",
		cache		: false,
		url		: "{/literal}{$live_site}/include/actions.php?object=msg&action=mark_read&id={literal}"+id,
		data		: $(this).serializeArray(),
		success: function(data) {

			$("#message_row"+id).removeClass("not_read");

		} // end data
	});// end ajax

	});// end mark_read

	$("a.mark_unread").click(function(event){

	var id = jQuery(this).attr("id").substr(6);

	$.ajax({
		type		: "GET",
		cache		: false,
		url		: "{/literal}{$live_site}/include/actions.php?object=msg&action=mark_unread&id={literal}"+id,
		data		: $(this).serializeArray(),
		success: function(data) {
//alert("#message_row"+id);
			$("#message_row"+id).addClass("not_read");
			
			alert($("#murmsg"+id).find('div').html());
			
//			$("#murmsg"+id).find('div').removeClass("btn5");
//			$("#murmsg"+id).find('div').addClass("btn3");

		} // end data
	});// end ajax

	});// end mark_read

	
	});
	
setTimeout(function() {
	$('#date_from_vis').datepicker({
		dateFormat: "M dd yy",
		changeMonth: true,
		changeYear: true,
		altField: '#date_from', altFormat: 'yy-mm-dd'
	});

	$('#date_to_vis').datepicker({
		dateFormat: "M dd yy",
		changeMonth: true,
		changeYear: true,
		altField: '#date_to', altFormat: 'yy-mm-dd'
	});
}, 1000);

	function toggleCheck() {

	if( $("#check-uncheck").hasClass( "checked" )) {
		uncheckAll(document);
		$("#check-uncheck").removeClass("checked");
	}	
	else{
		checkAll(document);
		$("#check-uncheck").addClass("checked");
	}	

	}

</script>
{/literal}